.footer {
    position: fixed;
    left: 5px;
    right: 5px;
    width: 100%;
    bottom: 0;
    background-color: white;
    color: white;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px;